<ion-header color="warning">
  <div class="login-header ion-padding">
    <img class="login-img" src="./assets/icon/favicon.png">

  </div>
</ion-header>

<ion-content class="background">
  <div class="ion-padding">
  <form action="" methode="post">
  <div class="form">
    
  <div title-form>
    <h1 title1-form><b>Register</b></h1>
  </div>
  <div>
    <form #formData='ngForm' (ngSubmit)="onSubmit(user)">

    <ion-item class="input" style="background: whitesmoke;" >
      <ion-icon name="person"></ion-icon>
      <ion-input  name='nom' [(ngModel)]="user.email" placeholder="username" type="text" required></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-icon name="lock-closed-sharp"></ion-icon>
      <ion-input  name='password' [(ngModel)]="user.password" placeholder="password" type="password" required="true" ></ion-input>
    </ion-item>
    </form>
    <ion-button type="submit" (click)="onSubmit(user)" expand="block" color="success" shape="round" size="large" round>connection</ion-button>
    

  </div>
     
</div>
</form>
</div>
<div class="ion-padding">
  <div *ngFor="let item of inf | async">
    <div>Email = {{ item.nom }}</div><br>
    <div> Password = {{ item.password }}</div>
   </div>
</div>
</ion-content>
